MIDTRANS_SERVER_KEY="DI DAPAT DARI MIDTRANS"
MIDTRANS_CLIENT_KEY="DI DAPAT DARI MIDTRANS"
XENDIT_API_KEY=xnd_development_MR0fqgZYkcwRmauN0ERP1DWt3SwDkGjF7Wykxl9zbSScFtD5rwxQ8AObSdkvwk
XENDIT_CALLBACK_TOKEN=XYXDoShEhsxsDJTh5WdyvHKapYvYIMm1Te5JkvlBsVkBmBEr
DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=db_konsultasi
DB_DRIVER=mysqli
BASE_URL=http://localhost/advokat/