MIDTRANS_SERVER_KEY="DI DAPAT DARI MIDTRANS"
MIDTRANS_CLIENT_KEY="DI DAPAT DARI MIDTRANS"
XENDIT_API_KEY=
XENDIT_CALLBACK_TOKEN=
DB_HOST=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=db_konsultasi
DB_DRIVER=mysqli
BASE_URL=http://localhost/advokat/